// Site header

.site-header {
	padding: 1em;

	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 90vh;

		.site-branding-container {
			margin-bottom: auto;
		}
	}

	@include media(tablet) {
		margin: 0;
		padding: 2rem 0;

		&.featured-image {
			min-height: 100vh;
			margin-bottom: 2rem;
		}
	}
}

// Site branding

.site-branding {

	color: $color__text-light;
	display: flex;
	flex-direction: column;
	text-align: center;

	@include media(tablet) {
		margin: 0 $size__site-margins;
	}
}

// Site logo

.site-logo {

	margin-bottom: calc(0.6 * #{$size__spacing-unit});
	text-align: center;

	.custom-logo-link {
		border-radius: 100%;
		box-sizing: content-box;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		width: 64px;
		height: 64px;
		overflow: hidden;
		transition: box-shadow $background_transition ease-in-out;

		.custom-logo {
			min-height: inherit;
		}

		&:hover,
		&:active,
		&:focus {
			box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
		}

		@include media(tablet) {
			width: 96x;
			height: 96px;
		}
	}
}

// Site title

.site-title {
	color: $color__text-main;
	margin: #{0.6 * $size__spacing-unit} 0 0;
	order: 2;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}

	.featured-image & {
		margin: 0;

		@include media(tablet) {}
	}

	/* When there is no description set, make sure navigation appears below title. */
	+ .main-navigation {
		display: block;
	}

	@include media(tablet) {}

	&:not(:empty) + .site-description:not(:empty):before {
		margin: 0 .2em;
	}
}

// Site description

.site-description {
	color: $color__text-main;
	font-size: $font__size-xs;
	font-weight: 300;
	margin: 0;
	order: 1;
}
